<article data-page style={{ backgroundColor: "black", color: "white" }}>
  <div data-page-zine="1">
    <div class="number">2</div>
    <h1>Print Media is Dying</h1>
    <p>
      Collective web-like publishing for <br />low-web or non-web networks.
    </p>
  </div>
  <div data-page-zine="2">
    <p style="margin-block-start: auto;">
      Print media is dying. As readers gravitate toward online platforms for
      their news, entertainment, and information needs, physical newspapers and
      magazines are increasingly dropping in both relevance and revenue. While
      print media once served as the cornerstone of public discourse and a
      primary source of knowledge, it now faces a host of challenges that have
      led to its steady decline.
    </p>
  </div>
  <div data-page-zine="3"
    ><p style="margin-block-start: auto;"
      >People simply do not consume information in the same way as they once
      did. With the proliferation of smartphones and other mobile devices,
      readers now expect immediate, personalized, and interactive content that
      print publications by definition cannot provide. Digital platforms like
      social media networks and online news outlets offer a level of immediacy
      and customization that traditional print cannot match, leading to a
      significant drop in newspaper and magazine readership. According to the
      Pew Research Center, weekday newspaper circulation has decreased by over
      50% since 2008, a clear indication of this shift in consumer behavior.
    </p>
  </div>
  <div data-page-zine="4">
    <figure>
      <img src="/img/module2/circRot.jpg" data-media="print" />
      <img src="/img/module2/circ.jpg" />
      <figcaption>Newspaper Circulation</figcaption>
    </figure>
    <figure>
      <img src="/img/module2/imagesRot.jpg" data-media="print" />
      <img src="/img/module2/images.jpg" />
      <figcaption>TV vs. Internet vs. Newspaper</figcaption>
    </figure>
  </div>
  <div data-page-zine="5">
    <p style="margin-block-start: auto;"
      >The rise of digital advertising has also severely impacted print media's
      traditional revenue streams. Advertisers are increasingly opting for
      digital platforms that offer targeted marketing options based on user
      data, providing a higher return on investment. This has resulted in
      significant losses in advertising revenue for newspapers and magazines,
      which once relied heavily on classified ads and print campaigns. Industry
      consolidation has further exacerbated the issue, as many media companies
      have downsized or gone out of business entirely due to dwindling profits.
    </p>
  </div>
  <div data-page-zine="6">
    <figure>
      <img src="/img/module2/adrevRot.jpg" data-media="print" />
      <img src="/img/module2/adrev.jpg" />
      <figcaption>NAA Newspaper Ad Revenue</figcaption>
    </figure>
    <figure>
      <img src="/img/module2/nytRot.jpg" data-media="print" />
      <img
        src="/img/module2/nyt.jpg"
        style="filter: saturate(0.7) contrast(1) invert(1);"
      />
      <figcaption>NYT Digital Subscribers</figcaption>
    </figure>
  </div>
  <div data-page-zine="7">
    <p style="margin-block-start: auto;">
      In response to these pressures, print outlets have been forced to adapt.
      Some have reduced publication frequencies or transitioned entirely to
      digital formats to cut costs and remain competitive. However, digital
      advertising revenue has not fully compensated for the loss in print
      advertising, leaving many outlets struggling to find sustainable business
      models. Additionally, social media has disrupted the traditional news
      distribution model by becoming the primary source of information for many
      consumers, leading to a decline in engagement with conventional
      journalism.
    </p>
  </div>
  <div data-page-zine="8">
    <div class="number">2</div>
    <section class="thought">
      <h3>REFERENCES</h3>
      <ol>
        <li
          ><a href="https://printinghistory.org/timeline/"
            >https://printinghistory.org/timeline/</a
          ></li
        >
        <li
          ><a href="https://printinghistory.org/timeline/"
            >https://printinghistory.org/timeline/</a
          ></li
        >
      </ol>
    </section>
  </div>
</article>

<style lang="scss">
  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 10px solid currentColor;
    border-radius: 100%;
    padding-inline-end: 0.25rem;
    padding-block-end: 0.5rem;
    width: 10rem;
    height: 10rem;
    font-weight: 700;
    font-size: 7rem;
  }

  h1 {
    margin-block-end: 0;
    font-size: 1.5rem;
    line-height: 1.1;
    font-family: Arial Narrow;
    text-transform: uppercase;
  }

  h2 {
    margin-block: 0 0.5rem;
  }

  .circle {
    margin: auto;
    border: 1px solid currentColor;
    border-radius: 100%;
    aspect-ratio: 1;
    inline-size: 60%;
  }

  div[data-page-zine] {
    border: 10px solid currentColor;
  }

  div[data-page-zine] {
    border: 10px solid currentColor;

    & figure {
      margin: auto;
      block-size: 40%;
      text-align: center;

      & img {
        block-size: calc(100% - 1rem);
      }
    }
  }

  div[data-page-zine="4"] figure {
    block-size: 40%;
  }

  div[data-page-zine="5"] figure {
    block-size: 35%;
  }

  div[data-page-zine="6"] figure {
    block-size: 40%;
  }

  div[data-page-zine="7"] {
    & figure {
      block-size: 40%;
    }
  }

  div[data-page-zine="8"] {
    & > div {
      transform: scaleX(-1);
    }

    & > p,
    & > h1 {
      visibility: hidden;
    }
  }

  .thought {
    margin-block-start: auto;
    // border: 1px solid cyan;
    padding: 0.5rem;
    font-size: 0.7rem;

    & h3 {
      color: cyan;
      font-weight: 700;
      font-size: 1rem;
      font-family: Arial Narrow;
      text-transform: uppercase;
    }
  }

  a:visited {
    color: unset;
  }

  .thought {
    margin-block-start: auto;
    border: 1px solid currentColor;
    padding: 0.5rem;
    font-size: 0.7rem;
    text-align: left;

    & h3 {
      color: currentColor;
      font-weight: 700;
      font-size: 1rem;
      font-family: Arial Narrow;
      text-transform: uppercase;
    }
  }

  figure {
    border: 1px solid white;
    padding: 0.5rem;
  }

  img {
    filter: saturate(0.3) contrast(1) invert(1);
  }
</style>
